ai-invoice-processor/workflow.json
{
  "updatedAt": "2026-03-29T18:40:38.245Z",
  "createdAt": "2026-03-27T19:44:34.871Z",
  "id": "qageGGYd7RUHwWag",
  "name": "AI Invoice Processor",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "simple": false,
        "filters": {
          "readStatus": "unread"
        },
        "options": {}
      },
      "id": "8b8e1402-378d-46fc-ac60-0ef56339afcd",
      "name": "Watch Gmail Inbox",
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        -144,
        -336
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "wa2L7d0ie1pE6Rpl",
          "name": "Gmail account"
        }
      },
      "notes": "Production trigger — polls every minute for unread emails. Each poll can return multiple emails."
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 3,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "ai-invoice-check",
              "leftValue": "={{ !!($json.output && $json.output.trim().toUpperCase().startsWith('YES')) }}",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "30942635-8e64-4bc8-b309-d702b5c2938b",
      "name": "Is Invoice Email?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        432,
        -432
      ],
      "notes": "Routes invoices (YES) to the processing branch. Non-invoices stop here."
    },
    {
      "parameters": {
        "operation": "pdf",
        "binaryPropertyName": "attachment_0",
        "options": {}
      },
      "id": "f7d677ac-956f-4f34-ab4c-74c37073ba11",
      "name": "Extract PDF Text",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        880,
        -528
      ],
      "onError": "continueRegularOutput",
      "notes": "Extracts text from PDF attachment. continueRegularOutput means workflow continues even if no PDF is attached."
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $('Get Email with Attachment').item.json.id }}",
        "labelIds": [
          "Label_5807257296755233074"
        ]
      },
      "id": "f04e1bb9-7911-46ba-b11c-fb8bf5499c48",
      "name": "Label as Expenses",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1104,
        -528
      ],
      "webhookId": "89503dbf-94de-4761-82e8-909641ec94d1",
      "credentials": {
        "gmailOAuth2": {
          "id": "wa2L7d0ie1pE6Rpl",
          "name": "Gmail account"
        }
      },
      "notes": "Adds the Expenses label to the email in Gmail."
    },
    {
      "parameters": {
        "operation": "markAsRead",
        "messageId": "={{ $('Get Email with Attachment').item.json.id }}"
      },
      "id": "269da3c0-3785-4759-aa1c-cf027db56144",
      "name": "Mark as Read",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1552,
        -528
      ],
      "webhookId": "c851902f-99a0-468f-9669-20b45abff6f0",
      "credentials": {
        "gmailOAuth2": {
          "id": "wa2L7d0ie1pE6Rpl",
          "name": "Gmail account"
        }
      },
      "notes": "Marks the processed email as read to prevent re-processing by the Gmail trigger."
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Runs once per email item - safe for multiple emails arriving at once\nconst emailItem = $('Get Email with Attachment').item.json;\nconst pdfItem = $('Extract PDF Text').item.json;\n\n// With Simplify OFF, from/to/subject may be parsed objects\nconst rawSubject = emailItem.subject;\nconst subject = (typeof rawSubject === 'object' && rawSubject !== null) \n  ? (rawSubject.text || rawSubject.value || '') \n  : (rawSubject || '');\n\nconst rawFrom = emailItem.from;\nconst from = (typeof rawFrom === 'object' && rawFrom !== null) \n  ? (rawFrom.text || (rawFrom.value && rawFrom.value[0] ? rawFrom.value[0].name + ' <' + rawFrom.value[0].address + '>' : '')) \n  : (rawFrom || '');\n\nconst rawDate = emailItem.date;\nconst date = (typeof rawDate === 'object' && rawDate !== null) \n  ? (rawDate.text || String(rawDate)) \n  : (rawDate || '');\n\nconst snippet = emailItem.snippet || '';\nconst emailBody = emailItem.text || snippet;\n\nconst hasPdfError = !!pdfItem.error;\nconst pdfText = !hasPdfError ? (pdfItem.text || '') : '';\n\nconst contentToAnalyze = pdfText \n  ? '[PDF ATTACHMENT]\\n' + pdfText \n  : '[EMAIL BODY]\\n' + emailBody;\n\nreturn {\n  json: {\n    email_id: emailItem.id || '',\n    email_subject: subject,\n    email_from: from,\n    email_date: date,\n    source: pdfText ? 'PDF Attachment' : 'Email Body',\n    ai_input_text: 'Subject: ' + subject + '\\nFrom: ' + from + '\\nDate: ' + date + '\\n\\nContent:\\n' + contentToAnalyze\n  }\n};"
      },
      "id": "57b4ce25-9507-4b39-b380-fcfcd94eeafc",
      "name": "Prepare AI Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1776,
        -528
      ],
      "notes": "Builds structured text input combining PDF content (or email body fallback) with email metadata. Runs once per item."
    },
    {
      "parameters": {
        "text": "={{ $json.ai_input_text }}",
        "attributes": {
          "attributes": [
            {
              "name": "vendor_name",
              "description": "The name of the company or person that issued the invoice or receipt",
              "required": true
            },
            {
              "name": "invoice_date",
              "description": "The invoice or purchase date, in YYYY-MM-DD format if possible",
              "required": true
            },
            {
              "name": "total_amount",
              "type": "number",
              "description": "The total amount charged or paid as a number without currency symbol",
              "required": true
            },
            {
              "name": "currency",
              "description": "The 3-letter currency code such as GBP, USD, EUR",
              "required": true
            },
            {
              "name": "invoice_number",
              "description": "The invoice number, order number, or reference number if present"
            },
            {
              "name": "description",
              "description": "A brief one-line description of what was purchased or the service provided"
            }
          ]
        },
        "options": {}
      },
      "id": "e065b1cf-2268-477a-8ee6-d8f70c107554",
      "name": "AI: Extract Invoice Data",
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "typeVersion": 1.2,
      "position": [
        2000,
        -528
      ],
      "notes": "Claude extracts structured data: vendor, date, amount, currency, invoice number, description. Output is in $json.output."
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f1",
              "name": "Date Processed",
              "value": "={{ new Date().toISOString().split('T')[0] }}",
              "type": "string"
            },
            {
              "id": "f2",
              "name": "Vendor",
              "value": "={{ $json.output.vendor_name || '' }}",
              "type": "string"
            },
            {
              "id": "f3",
              "name": "Invoice Date",
              "value": "={{ $json.output.invoice_date || '' }}",
              "type": "string"
            },
            {
              "id": "f4",
              "name": "Total Amount",
              "value": "={{ $json.output.total_amount || 0 }}",
              "type": "number"
            },
            {
              "id": "f5",
              "name": "Currency",
              "value": "={{ $json.output.currency || '' }}",
              "type": "string"
            },
            {
              "id": "f6",
              "name": "Invoice Number",
              "value": "={{ $json.output.invoice_number || '' }}",
              "type": "string"
            },
            {
              "id": "f7",
              "name": "Description",
              "value": "={{ $json.output.description || '' }}",
              "type": "string"
            },
            {
              "id": "f8",
              "name": "Email Subject",
              "value": "={{ $('Prepare AI Input').item.json.email_subject }}",
              "type": "string"
            },
            {
              "id": "f9",
              "name": "Email From",
              "value": "={{ $('Prepare AI Input').item.json.email_from }}",
              "type": "string"
            },
            {
              "id": "f10",
              "name": "Source",
              "value": "={{ $('Prepare AI Input').item.json.source }}",
              "type": "string"
            },
            {
              "id": "f11",
              "name": "Gmail Message ID",
              "value": "={{ $('Prepare AI Input').item.json.email_id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "8449f94a-6124-4f7c-879e-5cb0f0491886",
      "name": "Format Invoice Row",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2352,
        -528
      ],
      "notes": "Maps AI extraction output ($json.output.*) to Google Sheet column names. Adds metadata from Prepare AI Input."
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "claude-sonnet-4-5-20250929",
          "cachedResultName": "Claude Sonnet 4.5"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        2080,
        -304
      ],
      "id": "b2b97641-0d98-4c1b-aade-bd16bd90344e",
      "name": "Anthropic Chat Model",
      "credentials": {
        "anthropicApi": {
          "id": "fsTxjhVya7hHG7tF",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ 'Subject: ' + $json.subject + '\\nFrom: ' + $json.from + '\\nEmail preview: ' + ($json.snippet || $json.text || '') }}",
        "options": {
          "systemMessage": "You are an email classifier. Your ONLY job is to determine if an email is an invoice, receipt, bill, order confirmation, or purchase confirmation. Reply with exactly 'YES' if it is any of those. Reply with exactly 'NO' if it is not. Do not explain. Do not add any other text. Just YES or NO."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        80,
        -528
      ],
      "id": "c23c0599-cac1-4836-90f4-36b2eb5927f9",
      "name": "AI Agent",
      "notes": "Classifies email as invoice/receipt/bill (YES/NO) using Claude Sonnet. Outputs {output: 'YES'} or {output: 'NO'}."
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "claude-sonnet-4-5-20250929",
          "cachedResultName": "Claude Sonnet 4.5"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        160,
        -304
      ],
      "id": "2d041db3-2b87-498e-9be5-e8aa7d2d5f0e",
      "name": "Anthropic Chat Model1",
      "credentials": {
        "anthropicApi": {
          "id": "fsTxjhVya7hHG7tF",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "operation": "removeLabels",
        "messageId": "={{ $('Get Email with Attachment').item.json.id }}",
        "labelIds": [
          "INBOX"
        ]
      },
      "id": "ff45d950-f546-4e40-8385-4ac10c12e2b9",
      "name": "Remove from Inbox",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1328,
        -528
      ],
      "webhookId": "ee930f36-066c-4c8d-98ea-0c17a52bc282",
      "credentials": {
        "gmailOAuth2": {
          "id": "wa2L7d0ie1pE6Rpl",
          "name": "Gmail account"
        }
      },
      "notes": "Removes INBOX label — effectively moves the email from inbox to the Expenses folder."
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -368,
        -528
      ],
      "id": "6d049d10-080a-4dd0-9fc0-17cd67e3786f",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "operation": "get",
        "messageId": "={{ $('Watch Gmail Inbox').isExecuted ? $('Watch Gmail Inbox').item.json.id : $('Get many messages').item.json.id }}",
        "simple": false,
        "options": {
          "dataPropertyAttachmentsPrefixName": "attachment_",
          "downloadAttachments": true
        }
      },
      "id": "eb2388bb-7c73-4855-a385-d2662a8ae2b4",
      "name": "Get Email with Attachment",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        656,
        -528
      ],
      "webhookId": "48f5b554-74ab-40d3-8750-d169b64895c4",
      "credentials": {
        "gmailOAuth2": {
          "id": "wa2L7d0ie1pE6Rpl",
          "name": "Gmail account"
        }
      },
      "notes": "Re-fetches the full email with PDF attachment binary. Simplify must be OFF for attachments to download."
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1yU5QdEakr31l33XkL7ADvty9n6rqrf6zptnBAwEkVUk",
          "mode": "list",
          "cachedResultName": "Invoice Processor",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1yU5QdEakr31l33XkL7ADvty9n6rqrf6zptnBAwEkVUk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1yU5QdEakr31l33XkL7ADvty9n6rqrf6zptnBAwEkVUk/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Date Processed": "={{ $json['Date Processed'] }}",
            "Vendor": "={{ $json['Vendor'] }}",
            "Invoice Date": "={{ $json['Invoice Date'] }}",
            "Total Amount": "={{ $json['Total Amount'] }}",
            "Currency": "={{ $json['Currency'] }}",
            "Invoice Number": "={{ $json['Invoice Number'] }}",
            "Description": "={{ $json['Description'] }}",
            "Email Subject": "={{ $json['Email Subject'] }}",
            "Email From": "={{ $json['Email From'] }}",
            "Source": "={{ $json['Source'] }}",
            "Gmail Message ID": "={{ $json['Gmail Message ID'] }}"
          },
          "matchingColumns": [
            "Gmail Message ID"
          ],
          "schema": [
            {
              "id": "Date Processed",
              "displayName": "Date Processed",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Vendor",
              "displayName": "Vendor",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Invoice Date",
              "displayName": "Invoice Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Total Amount",
              "displayName": "Total Amount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Currency",
              "displayName": "Currency",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Invoice Number",
              "displayName": "Invoice Number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Description",
              "displayName": "Description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email Subject",
              "displayName": "Email Subject",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email From",
              "displayName": "Email From",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Source",
              "displayName": "Source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Gmail Message ID",
              "displayName": "Gmail Message ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2576,
        -528
      ],
      "id": "b53a06b6-5e71-4255-bda0-e8eef89719aa",
      "name": "Append or update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "7vEgUujOYOyIYsJA",
          "name": "Google Sheets account"
        }
      },
      "notes": "Writes row to Google Sheet. Deduplicates by Gmail Message ID — same email processed twice updates the existing row."
    },
    {
      "parameters": {
        "operation": "getAll",
        "limit": 100,
        "filters": {
          "readStatus": "unread"
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        -144,
        -528
      ],
      "id": "c973e811-e431-4090-afd7-5e38339729e3",
      "name": "Get many messages",
      "webhookId": "635de6ed-7b97-4f6e-86f1-070f097dcc25",
      "credentials": {
        "gmailOAuth2": {
          "id": "wa2L7d0ie1pE6Rpl",
          "name": "Gmail account"
        }
      },
      "notes": "First-run bulk scan — fetches up to 100 unread emails for initial client onboarding. Used with manual trigger."
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        656,
        -336
      ],
      "id": "316415ed-f7af-4dcf-bd2e-54d36c63a58d",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 9
            }
          ]
        }
      },
      "id": "ds-schedule-001",
      "name": "Daily Summary Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -368,
        -96
      ],
      "notes": "Fires daily at 9 AM to generate the morning invoice summary via Telegram."
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1yU5QdEakr31l33XkL7ADvty9n6rqrf6zptnBAwEkVUk",
          "mode": "list",
          "cachedResultName": "Invoice Processor",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1yU5QdEakr31l33XkL7ADvty9n6rqrf6zptnBAwEkVUk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1yU5QdEakr31l33XkL7ADvty9n6rqrf6zptnBAwEkVUk/edit#gid=0"
        },
        "options": {
          "dataLocationOnSheet": {
            "values": {
              "rangeDefinition": "detectAutomatically"
            }
          }
        }
      },
      "id": "ds-readsheet-001",
      "name": "Read Expense Tracker",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -144,
        -96
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "7vEgUujOYOyIYsJA",
          "name": "Google Sheets account"
        }
      },
      "notes": "Reads all rows from the Invoice Processor Google Sheet for summary aggregation."
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst today = $now.toFormat('yyyy-MM-dd');\n\n// Get yesterday's date for the morning summary\nconst yesterday = $now.minus({days: 1}).toFormat('yyyy-MM-dd');\n\n// Filter for yesterday's processed invoices\nconst yesterdayRows = items.filter(i => i.json['Date Processed'] === yesterday);\n// Also get today's in case some were processed after midnight\nconst todayRows = items.filter(i => i.json['Date Processed'] === today);\nconst allRecentRows = [...yesterdayRows, ...todayRows];\n\nlet msg;\nif (allRecentRows.length === 0) {\n  msg = '📋 <b>Invoice Daily Summary</b>\\n';\n  msg += '<i>' + today + '</i>\\n\\n';\n  msg += 'No invoices processed since yesterday.';\n} else {\n  // Group totals by currency\n  const byCurrency = {};\n  const vendors = [];\n  for (const row of allRecentRows) {\n    const cur = row.json['Currency'] || 'Unknown';\n    const amt = parseFloat(row.json['Total Amount']) || 0;\n    byCurrency[cur] = (byCurrency[cur] || 0) + amt;\n    vendors.push(row.json['Vendor'] || 'Unknown');\n  }\n\n  const totalsStr = Object.entries(byCurrency)\n    .map(([cur, total]) => '  ' + cur + ' ' + total.toFixed(2))\n    .join('\\n');\n\n  const vendorList = [...new Set(vendors)].map(v => '  • ' + v).join('\\n');\n\n  msg = '📋 <b>Invoice Daily Summary</b>\\n';\n  msg += '<i>' + today + '</i>\\n\\n';\n  msg += '<b>Invoices processed:</b> ' + allRecentRows.length + '\\n\\n';\n  msg += '<b>Totals:</b>\\n' + totalsStr + '\\n\\n';\n  msg += '<b>Vendors:</b>\\n' + vendorList;\n}\n\nreturn [{ json: { message: msg, invoiceCount: allRecentRows.length } }];"
      },
      "id": "ds-code-001",
      "name": "Build Daily Summary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        80,
        -96
      ],
      "notes": "Filters to yesterday's + today's invoices, calculates totals by currency, builds Telegram message with HTML formatting."
    },
    {
      "parameters": {
        "chatId": "8382569331",
        "text": "={{ $json.message }}",
        "additionalFields": {
          "parse_mode": "HTML"
        }
      },
      "id": "ds-telegram-001",
      "name": "Send Daily Summary",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        304,
        -96
      ],
      "webhookId": "6dea8806-92ea-46a8-825f-53aee6ed6d76",
      "credentials": {
        "telegramApi": {
          "id": "aPen8TMX61j9GoRN",
          "name": "Telegram n8n Bot"
        }
      },
      "notes": "Sends the daily invoice summary to Telegram. Uses HTML parse mode for formatting."
    },
    {
      "parameters": {
        "content": "\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n## Daily Summary Branch\n\n**Trigger:** Schedule Trigger fires at 9 AM daily.\n\n**Flow:**\n1. Read all rows from the Invoice Processor Google Sheet\n2. Filter to yesterday's + today's processed invoices\n3. Build summary: count, totals by currency, vendor list\n4. Send via Telegram\n\n**Independent branch** — does not connect to the invoice processing pipeline above.",
        "height": 492,
        "width": 1008,
        "color": 7
      },
      "id": "ds-sticky-001",
      "name": "Daily Summary Info",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -416,
        -144
      ]
    },
    {
      "parameters": {
        "content": "### Step 1: Email Input\nTwo entry points feed unread emails into the pipeline:\n\n**Production:** Watch Gmail Inbox polls every minute for new unread emails\n\n**First Run:** Manual trigger → Get Many fetches up to 100 unread emails for initial bulk processing (ideal for client onboarding)",
        "height": 596,
        "width": 422,
        "color": 6
      },
      "id": "comment-step1",
      "name": "Step 1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -416,
        -768
      ]
    },
    {
      "parameters": {
        "content": "### Step 2: AI Classification\nClaude Sonnet classifies each email — invoice, receipt, bill, or order confirmation?\n\n**YES** → continues to invoice processing\n**NO** → stops here (no further action)\n\nNo regex — pure AI classification handles edge cases like HTML receipts, foreign language invoices, and unusual formats",
        "height": 600,
        "width": 568,
        "color": 4
      },
      "id": "comment-step2",
      "name": "Step 2",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        32,
        -768
      ]
    },
    {
      "parameters": {
        "content": "### Step 3: Fetch Attachment & Organise\nRe-fetches the full email with PDF binary (Simplify OFF required for attachments to download).\n\nExtracts PDF text if available — continues gracefully if no PDF is attached.\n\nThen organises the email: labels as Expenses, removes from Inbox, marks as read.",
        "height": 364,
        "width": 1092,
        "color": 2
      },
      "id": "comment-step3",
      "name": "Step 3",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        608,
        -704
      ]
    },
    {
      "parameters": {
        "content": "### Step 4: Extract Invoice Data\nPrepares structured input from the PDF text (or email body fallback) combined with email metadata.\n\nClaude extracts structured fields:\nVendor, Invoice Date, Total Amount, Currency, Invoice Number, Description",
        "height": 552,
        "width": 550,
        "color": 3
      },
      "id": "comment-step4",
      "name": "Step 4",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1712,
        -704
      ]
    },
    {
      "parameters": {
        "content": "### Step 5: Log to Google Sheets\nMaps extracted invoice data to spreadsheet columns and appends a row.\n\nDeduplicates by Gmail Message ID — reprocessing the same email updates the existing row instead of creating a duplicate.",
        "height": 364,
        "width": 486,
        "color": 5
      },
      "id": "comment-step5",
      "name": "Step 5",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2288,
        -704
      ]
    }
  ],
  "connections": {
    "Watch Gmail Inbox": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract PDF Text": {
      "main": [
        [
          {
            "node": "Label as Expenses",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark as Read": {
      "main": [
        [
          {
            "node": "Prepare AI Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare AI Input": {
      "main": [
        [
          {
            "node": "AI: Extract Invoice Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI: Extract Invoice Data": {
      "main": [
        [
          {
            "node": "Format Invoice Row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Invoice Row": {
      "main": [
        [
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI: Extract Invoice Data",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Is Invoice Email?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Label as Expenses": {
      "main": [
        [
          {
            "node": "Remove from Inbox",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remove from Inbox": {
      "main": [
        [
          {
            "node": "Mark as Read",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get many messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Invoice Email?": {
      "main": [
        [
          {
            "node": "Get Email with Attachment",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Email with Attachment": {
      "main": [
        [
          {
            "node": "Extract PDF Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many messages": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Daily Summary Trigger": {
      "main": [
        [
          {
            "node": "Read Expense Tracker",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Expense Tracker": {
      "main": [
        [
          {
            "node": "Build Daily Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Daily Summary": {
      "main": [
        [
          {
            "node": "Send Daily Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": {
    "node:Daily Summary Trigger": {
      "recurrenceRules": []
    },
    "node:Watch Gmail Inbox": {
      "Watch Gmail Inbox": {
        "lastTimeChecked": 1774809179
      }
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "4259df59-9845-45c4-8acd-43a3f9d97a05",
  "activeVersionId": "6fded77c-4a78-49dc-9ef9-f57e2b8f035c",
  "triggerCount": 2,
  "shared": [
    {
      "updatedAt": "2026-03-27T19:44:34.875Z",
      "createdAt": "2026-03-27T19:44:34.875Z",
      "role": "workflow:owner",
      "workflowId": "qageGGYd7RUHwWag",
      "projectId": "sFBQoJMMGGHKfOGS"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-03-29T18:32:59.000Z",
    "createdAt": "2026-03-29T18:32:40.910Z",
    "versionId": "6fded77c-4a78-49dc-9ef9-f57e2b8f035c",
    "workflowId": "qageGGYd7RUHwWag",
    "nodes": [
      {
        "parameters": {
          "pollTimes": {
            "item": [
              {
                "mode": "everyMinute"
              }
            ]
          },
          "simple": false,
          "filters": {
            "readStatus": "unread"
          },
          "options": {}
        },
        "id": "8b8e1402-378d-46fc-ac60-0ef56339afcd",
        "name": "Watch Gmail Inbox",
        "type": "n8n-nodes-base.gmailTrigger",
        "typeVersion": 1.3,
        "position": [
          -144,
          -328
        ],
        "credentials": {
          "gmailOAuth2": {
            "id": "wa2L7d0ie1pE6Rpl",
            "name": "Gmail account"
          }
        },
        "notes": "Production trigger — polls every minute for unread emails. Each poll can return multiple emails."
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "version": 3,
              "leftValue": "",
              "caseSensitive": true,
              "typeValidation": "strict"
            },
            "conditions": [
              {
                "id": "ai-invoice-check",
                "leftValue": "={{ !!($json.output && $json.output.trim().toUpperCase().startsWith('YES')) }}",
                "operator": {
                  "type": "boolean",
                  "operation": "true",
                  "singleValue": true
                }
              }
            ],
            "combinator": "or"
          },
          "options": {}
        },
        "id": "30942635-8e64-4bc8-b309-d702b5c2938b",
        "name": "Is Invoice Email?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          432,
          -424
        ],
        "notes": "Routes invoices (YES) to the processing branch. Non-invoices stop here."
      },
      {
        "parameters": {
          "operation": "pdf",
          "binaryPropertyName": "attachment_0",
          "options": {}
        },
        "id": "f7d677ac-956f-4f34-ab4c-74c37073ba11",
        "name": "Extract PDF Text",
        "type": "n8n-nodes-base.extractFromFile",
        "typeVersion": 1.1,
        "position": [
          880,
          -520
        ],
        "onError": "continueRegularOutput",
        "notes": "Extracts text from PDF attachment. continueRegularOutput means workflow continues even if no PDF is attached."
      },
      {
        "parameters": {
          "operation": "addLabels",
          "messageId": "={{ $('Get Email with Attachment').item.json.id }}",
          "labelIds": [
            "Label_5807257296755233074"
          ]
        },
        "id": "f04e1bb9-7911-46ba-b11c-fb8bf5499c48",
        "name": "Label as Expenses",
        "type": "n8n-nodes-base.gmail",
        "typeVersion": 2.2,
        "position": [
          1104,
          -520
        ],
        "webhookId": "89503dbf-94de-4761-82e8-909641ec94d1",
        "credentials": {
          "gmailOAuth2": {
            "id": "wa2L7d0ie1pE6Rpl",
            "name": "Gmail account"
          }
        },
        "notes": "Adds the Expenses label to the email in Gmail."
      },
      {
        "parameters": {
          "operation": "markAsRead",
          "messageId": "={{ $('Get Email with Attachment').item.json.id }}"
        },
        "id": "269da3c0-3785-4759-aa1c-cf027db56144",
        "name": "Mark as Read",
        "type": "n8n-nodes-base.gmail",
        "typeVersion": 2.2,
        "position": [
          1552,
          -520
        ],
        "webhookId": "c851902f-99a0-468f-9669-20b45abff6f0",
        "credentials": {
          "gmailOAuth2": {
            "id": "wa2L7d0ie1pE6Rpl",
            "name": "Gmail account"
          }
        },
        "notes": "Marks the processed email as read to prevent re-processing by the Gmail trigger."
      },
      {
        "parameters": {
          "mode": "runOnceForEachItem",
          "jsCode": "// Runs once per email item - safe for multiple emails arriving at once\nconst emailItem = $('Get Email with Attachment').item.json;\nconst pdfItem = $('Extract PDF Text').item.json;\n\n// With Simplify OFF, from/to/subject may be parsed objects\nconst rawSubject = emailItem.subject;\nconst subject = (typeof rawSubject === 'object' && rawSubject !== null) \n  ? (rawSubject.text || rawSubject.value || '') \n  : (rawSubject || '');\n\nconst rawFrom = emailItem.from;\nconst from = (typeof rawFrom === 'object' && rawFrom !== null) \n  ? (rawFrom.text || (rawFrom.value && rawFrom.value[0] ? rawFrom.value[0].name + ' <' + rawFrom.value[0].address + '>' : '')) \n  : (rawFrom || '');\n\nconst rawDate = emailItem.date;\nconst date = (typeof rawDate === 'object' && rawDate !== null) \n  ? (rawDate.text || String(rawDate)) \n  : (rawDate || '');\n\nconst snippet = emailItem.snippet || '';\nconst emailBody = emailItem.text || snippet;\n\nconst hasPdfError = !!pdfItem.error;\nconst pdfText = !hasPdfError ? (pdfItem.text || '') : '';\n\nconst contentToAnalyze = pdfText \n  ? '[PDF ATTACHMENT]\\n' + pdfText \n  : '[EMAIL BODY]\\n' + emailBody;\n\nreturn {\n  json: {\n    email_id: emailItem.id || '',\n    email_subject: subject,\n    email_from: from,\n    email_date: date,\n    source: pdfText ? 'PDF Attachment' : 'Email Body',\n    ai_input_text: 'Subject: ' + subject + '\\nFrom: ' + from + '\\nDate: ' + date + '\\n\\nContent:\\n' + contentToAnalyze\n  }\n};"
        },
        "id": "57b4ce25-9507-4b39-b380-fcfcd94eeafc",
        "name": "Prepare AI Input",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1776,
          -520
        ],
        "notes": "Builds structured text input combining PDF content (or email body fallback) with email metadata. Runs once per item."
      },
      {
        "parameters": {
          "text": "={{ $json.ai_input_text }}",
          "attributes": {
            "attributes": [
              {
                "name": "vendor_name",
                "description": "The name of the company or person that issued the invoice or receipt",
                "required": true
              },
              {
                "name": "invoice_date",
                "description": "The invoice or purchase date, in YYYY-MM-DD format if possible",
                "required": true
              },
              {
                "name": "total_amount",
                "type": "number",
                "description": "The total amount charged or paid as a number without currency symbol",
                "required": true
              },
              {
                "name": "currency",
                "description": "The 3-letter currency code such as GBP, USD, EUR",
                "required": true
              },
              {
                "name": "invoice_number",
                "description": "The invoice number, order number, or reference number if present"
              },
              {
                "name": "description",
                "description": "A brief one-line description of what was purchased or the service provided"
              }
            ]
          },
          "options": {}
        },
        "id": "e065b1cf-2268-477a-8ee6-d8f70c107554",
        "name": "AI: Extract Invoice Data",
        "type": "@n8n/n8n-nodes-langchain.informationExtractor",
        "typeVersion": 1.2,
        "position": [
          2000,
          -520
        ],
        "notes": "Claude extracts structured data: vendor, date, amount, currency, invoice number, description. Output is in $json.output."
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "f1",
                "name": "Date Processed",
                "value": "={{ new Date().toISOString().split('T')[0] }}",
                "type": "string"
              },
              {
                "id": "f2",
                "name": "Vendor",
                "value": "={{ $json.output.vendor_name || '' }}",
                "type": "string"
              },
              {
                "id": "f3",
                "name": "Invoice Date",
                "value": "={{ $json.output.invoice_date || '' }}",
                "type": "string"
              },
              {
                "id": "f4",
                "name": "Total Amount",
                "value": "={{ $json.output.total_amount || 0 }}",
                "type": "number"
              },
              {
                "id": "f5",
                "name": "Currency",
                "value": "={{ $json.output.currency || '' }}",
                "type": "string"
              },
              {
                "id": "f6",
                "name": "Invoice Number",
                "value": "={{ $json.output.invoice_number || '' }}",
                "type": "string"
              },
              {
                "id": "f7",
                "name": "Description",
                "value": "={{ $json.output.description || '' }}",
                "type": "string"
              },
              {
                "id": "f8",
                "name": "Email Subject",
                "value": "={{ $('Prepare AI Input').item.json.email_subject }}",
                "type": "string"
              },
              {
                "id": "f9",
                "name": "Email From",
                "value": "={{ $('Prepare AI Input').item.json.email_from }}",
                "type": "string"
              },
              {
                "id": "f10",
                "name": "Source",
                "value": "={{ $('Prepare AI Input').item.json.source }}",
                "type": "string"
              },
              {
                "id": "f11",
                "name": "Gmail Message ID",
                "value": "={{ $('Prepare AI Input').item.json.email_id }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "id": "8449f94a-6124-4f7c-879e-5cb0f0491886",
        "name": "Format Invoice Row",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          2352,
          -520
        ],
        "notes": "Maps AI extraction output ($json.output.*) to Google Sheet column names. Adds metadata from Prepare AI Input."
      },
      {
        "parameters": {
          "model": {
            "__rl": true,
            "mode": "list",
            "value": "claude-sonnet-4-5-20250929",
            "cachedResultName": "Claude Sonnet 4.5"
          },
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
        "typeVersion": 1.3,
        "position": [
          2072,
          -296
        ],
        "id": "b2b97641-0d98-4c1b-aade-bd16bd90344e",
        "name": "Anthropic Chat Model",
        "credentials": {
          "anthropicApi": {
            "id": "fsTxjhVya7hHG7tF",
            "name": "Anthropic account"
          }
        }
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "={{ 'Subject: ' + $json.subject + '\\nFrom: ' + $json.from + '\\nEmail preview: ' + ($json.snippet || $json.text || '') }}",
          "options": {
            "systemMessage": "You are an email classifier. Your ONLY job is to determine if an email is an invoice, receipt, bill, order confirmation, or purchase confirmation. Reply with exactly 'YES' if it is any of those. Reply with exactly 'NO' if it is not. Do not explain. Do not add any other text. Just YES or NO."
          }
        },
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 3.1,
        "position": [
          80,
          -528
        ],
        "id": "c23c0599-cac1-4836-90f4-36b2eb5927f9",
        "name": "AI Agent",
        "notes": "Classifies email as invoice/receipt/bill (YES/NO) using Claude Sonnet. Outputs {output: 'YES'} or {output: 'NO'}."
      },
      {
        "parameters": {
          "model": {
            "__rl": true,
            "mode": "list",
            "value": "claude-sonnet-4-5-20250929",
            "cachedResultName": "Claude Sonnet 4.5"
          },
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
        "typeVersion": 1.3,
        "position": [
          152,
          -304
        ],
        "id": "2d041db3-2b87-498e-9be5-e8aa7d2d5f0e",
        "name": "Anthropic Chat Model1",
        "credentials": {
          "anthropicApi": {
            "id": "fsTxjhVya7hHG7tF",
            "name": "Anthropic account"
          }
        }
      },
      {
        "parameters": {
          "operation": "removeLabels",
          "messageId": "={{ $('Get Email with Attachment').item.json.id }}",
          "labelIds": [
            "INBOX"
          ]
        },
        "id": "ff45d950-f546-4e40-8385-4ac10c12e2b9",
        "name": "Remove from Inbox",
        "type": "n8n-nodes-base.gmail",
        "typeVersion": 2.2,
        "position": [
          1328,
          -520
        ],
        "webhookId": "ee930f36-066c-4c8d-98ea-0c17a52bc282",
        "credentials": {
          "gmailOAuth2": {
            "id": "wa2L7d0ie1pE6Rpl",
            "name": "Gmail account"
          }
        },
        "notes": "Removes INBOX label — effectively moves the email from inbox to the Expenses folder."
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.manualTrigger",
        "typeVersion": 1,
        "position": [
          -368,
          -520
        ],
        "id": "6d049d10-080a-4dd0-9fc0-17cd67e3786f",
        "name": "When clicking ‘Execute workflow’"
      },
      {
        "parameters": {
          "operation": "get",
          "messageId": "={{ $('Watch Gmail Inbox').isExecuted ? $('Watch Gmail Inbox').item.json.id : $('Get many messages').item.json.id }}",
          "simple": false,
          "options": {
            "dataPropertyAttachmentsPrefixName": "attachment_",
            "downloadAttachments": true
          }
        },
        "id": "eb2388bb-7c73-4855-a385-d2662a8ae2b4",
        "name": "Get Email with Attachment",
        "type": "n8n-nodes-base.gmail",
        "typeVersion": 2.2,
        "position": [
          656,
          -520
        ],
        "webhookId": "48f5b554-74ab-40d3-8750-d169b64895c4",
        "credentials": {
          "gmailOAuth2": {
            "id": "wa2L7d0ie1pE6Rpl",
            "name": "Gmail account"
          }
        },
        "notes": "Re-fetches the full email with PDF attachment binary. Simplify must be OFF for attachments to download."
      },
      {
        "parameters": {
          "operation": "appendOrUpdate",
          "documentId": {
            "__rl": true,
            "value": "1yU5QdEakr31l33XkL7ADvty9n6rqrf6zptnBAwEkVUk",
            "mode": "list",
            "cachedResultName": "Invoice Processor",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1yU5QdEakr31l33XkL7ADvty9n6rqrf6zptnBAwEkVUk/edit?usp=drivesdk"
          },
          "sheetName": {
            "__rl": true,
            "value": "gid=0",
            "mode": "list",
            "cachedResultName": "Sheet1",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1yU5QdEakr31l33XkL7ADvty9n6rqrf6zptnBAwEkVUk/edit#gid=0"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "Date Processed": "={{ $json['Date Processed'] }}",
              "Vendor": "={{ $json['Vendor'] }}",
              "Invoice Date": "={{ $json['Invoice Date'] }}",
              "Total Amount": "={{ $json['Total Amount'] }}",
              "Currency": "={{ $json['Currency'] }}",
              "Invoice Number": "={{ $json['Invoice Number'] }}",
              "Description": "={{ $json['Description'] }}",
              "Email Subject": "={{ $json['Email Subject'] }}",
              "Email From": "={{ $json['Email From'] }}",
              "Source": "={{ $json['Source'] }}",
              "Gmail Message ID": "={{ $json['Gmail Message ID'] }}"
            },
            "matchingColumns": [
              "Gmail Message ID"
            ],
            "schema": [
              {
                "id": "Date Processed",
                "displayName": "Date Processed",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Vendor",
                "displayName": "Vendor",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Invoice Date",
                "displayName": "Invoice Date",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Total Amount",
                "displayName": "Total Amount",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Currency",
                "displayName": "Currency",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Invoice Number",
                "displayName": "Invoice Number",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Description",
                "displayName": "Description",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Email Subject",
                "displayName": "Email Subject",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Email From",
                "displayName": "Email From",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Source",
                "displayName": "Source",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Gmail Message ID",
                "displayName": "Gmail Message ID",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.7,
        "position": [
          2576,
          -520
        ],
        "id": "b53a06b6-5e71-4255-bda0-e8eef89719aa",
        "name": "Append or update row in sheet",
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "7vEgUujOYOyIYsJA",
            "name": "Google Sheets account"
          }
        },
        "notes": "Writes row to Google Sheet. Deduplicates by Gmail Message ID — same email processed twice updates the existing row."
      },
      {
        "parameters": {
          "operation": "getAll",
          "limit": 100,
          "filters": {
            "readStatus": "unread"
          }
        },
        "type": "n8n-nodes-base.gmail",
        "typeVersion": 2.2,
        "position": [
          -144,
          -520
        ],
        "id": "c973e811-e431-4090-afd7-5e38339729e3",
        "name": "Get many messages",
        "webhookId": "635de6ed-7b97-4f6e-86f1-070f097dcc25",
        "credentials": {
          "gmailOAuth2": {
            "id": "wa2L7d0ie1pE6Rpl",
            "name": "Gmail account"
          }
        },
        "notes": "First-run bulk scan — fetches up to 100 unread emails for initial client onboarding. Used with manual trigger."
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.noOp",
        "typeVersion": 1,
        "position": [
          656,
          -328
        ],
        "id": "316415ed-f7af-4dcf-bd2e-54d36c63a58d",
        "name": "No Operation, do nothing"
      },
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "triggerAtHour": 9
              }
            ]
          }
        },
        "id": "ds-schedule-001",
        "name": "Daily Summary Trigger",
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.3,
        "position": [
          -368,
          -96
        ],
        "notes": "Fires daily at 9 AM to generate the morning invoice summary via Telegram."
      },
      {
        "parameters": {
          "documentId": {
            "__rl": true,
            "value": "1yU5QdEakr31l33XkL7ADvty9n6rqrf6zptnBAwEkVUk",
            "mode": "list",
            "cachedResultName": "Invoice Processor",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1yU5QdEakr31l33XkL7ADvty9n6rqrf6zptnBAwEkVUk/edit?usp=drivesdk"
          },
          "sheetName": {
            "__rl": true,
            "value": "gid=0",
            "mode": "list",
            "cachedResultName": "Sheet1",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1yU5QdEakr31l33XkL7ADvty9n6rqrf6zptnBAwEkVUk/edit#gid=0"
          },
          "options": {
            "dataLocationOnSheet": {
              "values": {
                "rangeDefinition": "detectAutomatically"
              }
            }
          }
        },
        "id": "ds-readsheet-001",
        "name": "Read Expense Tracker",
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.7,
        "position": [
          -144,
          -96
        ],
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "7vEgUujOYOyIYsJA",
            "name": "Google Sheets account"
          }
        },
        "notes": "Reads all rows from the Invoice Processor Google Sheet for summary aggregation."
      },
      {
        "parameters": {
          "jsCode": "const items = $input.all();\nconst today = $now.toFormat('yyyy-MM-dd');\n\n// Get yesterday's date for the morning summary\nconst yesterday = $now.minus({days: 1}).toFormat('yyyy-MM-dd');\n\n// Filter for yesterday's processed invoices\nconst yesterdayRows = items.filter(i => i.json['Date Processed'] === yesterday);\n// Also get today's in case some were processed after midnight\nconst todayRows = items.filter(i => i.json['Date Processed'] === today);\nconst allRecentRows = [...yesterdayRows, ...todayRows];\n\nlet msg;\nif (allRecentRows.length === 0) {\n  msg = '📋 <b>Invoice Daily Summary</b>\\n';\n  msg += '<i>' + today + '</i>\\n\\n';\n  msg += 'No invoices processed since yesterday.';\n} else {\n  // Group totals by currency\n  const byCurrency = {};\n  const vendors = [];\n  for (const row of allRecentRows) {\n    const cur = row.json['Currency'] || 'Unknown';\n    const amt = parseFloat(row.json['Total Amount']) || 0;\n    byCurrency[cur] = (byCurrency[cur] || 0) + amt;\n    vendors.push(row.json['Vendor'] || 'Unknown');\n  }\n\n  const totalsStr = Object.entries(byCurrency)\n    .map(([cur, total]) => '  ' + cur + ' ' + total.toFixed(2))\n    .join('\\n');\n\n  const vendorList = [...new Set(vendors)].map(v => '  • ' + v).join('\\n');\n\n  msg = '📋 <b>Invoice Daily Summary</b>\\n';\n  msg += '<i>' + today + '</i>\\n\\n';\n  msg += '<b>Invoices processed:</b> ' + allRecentRows.length + '\\n\\n';\n  msg += '<b>Totals:</b>\\n' + totalsStr + '\\n\\n';\n  msg += '<b>Vendors:</b>\\n' + vendorList;\n}\n\nreturn [{ json: { message: msg, invoiceCount: allRecentRows.length } }];"
        },
        "id": "ds-code-001",
        "name": "Build Daily Summary",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          80,
          -96
        ],
        "notes": "Filters to yesterday's + today's invoices, calculates totals by currency, builds Telegram message with HTML formatting."
      },
      {
        "parameters": {
          "chatId": "8382569331",
          "text": "={{ $json.message }}",
          "additionalFields": {
            "parse_mode": "HTML"
          }
        },
        "id": "ds-telegram-001",
        "name": "Send Daily Summary",
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          304,
          -96
        ],
        "webhookId": "6dea8806-92ea-46a8-825f-53aee6ed6d76",
        "credentials": {
          "telegramApi": {
            "id": "aPen8TMX61j9GoRN",
            "name": "Telegram n8n Bot"
          }
        },
        "notes": "Sends the daily invoice summary to Telegram. Uses HTML parse mode for formatting."
      },
      {
        "parameters": {
          "content": "\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n## Daily Summary Branch\n\n**Trigger:** Schedule Trigger fires at 9 AM daily.\n\n**Flow:**\n1. Read all rows from the Invoice Processor Google Sheet\n2. Filter to yesterday's + today's processed invoices\n3. Build summary: count, totals by currency, vendor list\n4. Send via Telegram\n\n**Independent branch** — does not connect to the invoice processing pipeline above.",
          "height": 492,
          "width": 1008,
          "color": 7
        },
        "id": "ds-sticky-001",
        "name": "Daily Summary Info",
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          -416,
          -144
        ]
      },
      {
        "parameters": {
          "content": "### Step 1: Email Input\nTwo entry points feed unread emails into the pipeline:\n\n**Production:** Watch Gmail Inbox polls every minute for new unread emails\n\n**First Run:** Manual trigger → Get Many fetches up to 100 unread emails for initial bulk processing (ideal for client onboarding)",
          "height": 596,
          "width": 422,
          "color": 6
        },
        "id": "comment-step1",
        "name": "Step 1",
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          -419,
          -764
        ]
      },
      {
        "parameters": {
          "content": "### Step 2: AI Classification\nClaude Sonnet classifies each email — invoice, receipt, bill, or order confirmation?\n\n**YES** → continues to invoice processing\n**NO** → stops here (no further action)\n\nNo regex — pure AI classification handles edge cases like HTML receipts, foreign language invoices, and unusual formats",
          "height": 600,
          "width": 568,
          "color": 4
        },
        "id": "comment-step2",
        "name": "Step 2",
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          20,
          -760
        ]
      },
      {
        "parameters": {
          "content": "### Step 3: Fetch Attachment & Organise\nRe-fetches the full email with PDF binary (Simplify OFF required for attachments to download).\n\nExtracts PDF text if available — continues gracefully if no PDF is attached.\n\nThen organises the email: labels as Expenses, removes from Inbox, marks as read.",
          "height": 364,
          "width": 1092,
          "color": 2
        },
        "id": "comment-step3",
        "name": "Step 3",
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          606,
          -708
        ]
      },
      {
        "parameters": {
          "content": "### Step 4: Extract Invoice Data\nPrepares structured input from the PDF text (or email body fallback) combined with email metadata.\n\nClaude extracts structured fields:\nVendor, Invoice Date, Total Amount, Currency, Invoice Number, Description",
          "height": 552,
          "width": 550,
          "color": 3
        },
        "id": "comment-step4",
        "name": "Step 4",
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          1712,
          -704
        ]
      },
      {
        "parameters": {
          "content": "### Step 5: Log to Google Sheets\nMaps extracted invoice data to spreadsheet columns and appends a row.\n\nDeduplicates by Gmail Message ID — reprocessing the same email updates the existing row instead of creating a duplicate.",
          "height": 364,
          "width": 486,
          "color": 5
        },
        "id": "comment-step5",
        "name": "Step 5",
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          2277,
          -708
        ]
      }
    ],
    "connections": {
      "Watch Gmail Inbox": {
        "main": [
          [
            {
              "node": "AI Agent",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Extract PDF Text": {
        "main": [
          [
            {
              "node": "Label as Expenses",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Mark as Read": {
        "main": [
          [
            {
              "node": "Prepare AI Input",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Prepare AI Input": {
        "main": [
          [
            {
              "node": "AI: Extract Invoice Data",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "AI: Extract Invoice Data": {
        "main": [
          [
            {
              "node": "Format Invoice Row",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Format Invoice Row": {
        "main": [
          [
            {
              "node": "Append or update row in sheet",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Anthropic Chat Model": {
        "ai_languageModel": [
          [
            {
              "node": "AI: Extract Invoice Data",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "AI Agent": {
        "main": [
          [
            {
              "node": "Is Invoice Email?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Anthropic Chat Model1": {
        "ai_languageModel": [
          [
            {
              "node": "AI Agent",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Label as Expenses": {
        "main": [
          [
            {
              "node": "Remove from Inbox",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Remove from Inbox": {
        "main": [
          [
            {
              "node": "Mark as Read",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "When clicking ‘Execute workflow’": {
        "main": [
          [
            {
              "node": "Get many messages",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Is Invoice Email?": {
        "main": [
          [
            {
              "node": "Get Email with Attachment",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "No Operation, do nothing",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get Email with Attachment": {
        "main": [
          [
            {
              "node": "Extract PDF Text",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get many messages": {
        "main": [
          [
            {
              "node": "AI Agent",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Daily Summary Trigger": {
        "main": [
          [
            {
              "node": "Read Expense Tracker",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Read Expense Tracker": {
        "main": [
          [
            {
              "node": "Build Daily Summary",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Build Daily Summary": {
        "main": [
          [
            {
              "node": "Send Daily Summary",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Sidrit info@paracras.com",
    "name": "Version 6fded77c",
    "description": "",
    "autosaved": true
  },
  "tags": []
}