n8n-github-sync/workflow.json
{
  "updatedAt": "2026-03-25T00:19:53.293Z",
  "createdAt": "2026-03-24T20:50:50.019Z",
  "id": "bhWqdvOJPFtWzBiJ",
  "name": "n8n Github Sync",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "9ef571de-abb0-4f7e-b35b-b8ec8b17cfcf",
              "leftValue": "={{ $json.name }}",
              "rightValue": "Reconciliation",
              "operator": {
                "type": "string",
                "operation": "notContains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        448,
        -16
      ],
      "id": "fee00244-ecf1-49b2-8e04-bd346ddb444f",
      "name": "Filter"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        -16
      ],
      "id": "18f78048-9fc4-49b1-b252-35659117227c",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "filters": {},
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.n8n",
      "typeVersion": 1,
      "position": [
        224,
        -16
      ],
      "id": "2a5b9383-8aa3-4b30-914e-91a9fa92a65e",
      "name": "n8n Workflows",
      "credentials": {
        "n8nApi": {
          "id": "OxDWNqPilqexXBWL",
          "name": "n8n account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "643dd240-e914-4111-be73-0fb8bd7d7e7f",
              "name": "name",
              "value": "={{ $json.name }}",
              "type": "string"
            },
            {
              "id": "63b5bb9b-7ded-43e6-8d72-115fdc129709",
              "name": "filePath",
              "value": "={{ $json.name.toLowerCase().replace(/[^a-z0-9]+/g, '-') }}/workflow.json",
              "type": "string"
            },
            {
              "id": "98140180-339e-4d45-9927-477e043834cb",
              "name": "fileContent",
              "value": "={{ JSON.stringify($json, null, 2) }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        656,
        -16
      ],
      "id": "fb8c4cdc-2f6e-4e1f-a4c6-51f8243add51",
      "name": "Set Variables"
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "get",
        "owner": {
          "__rl": true,
          "value": "ssd-007",
          "mode": "list",
          "cachedResultName": "ssd-007",
          "cachedResultUrl": "https://github.com/ssd-007"
        },
        "repository": {
          "__rl": true,
          "value": "n8n-github-sync",
          "mode": "list",
          "cachedResultName": "n8n-github-sync",
          "cachedResultUrl": "https://github.com/ssd-007/n8n-github-sync"
        },
        "filePath": "={{ $('Set Variables').item.json.filePath }}",
        "additionalParameters": {}
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        864,
        -16
      ],
      "id": "d657ab4d-fe31-465a-88a5-fa058213aac4",
      "name": "Get a file",
      "webhookId": "fa807dd8-1425-4028-a3a5-05a5adec37d5",
      "credentials": {
        "githubApi": {
          "id": "aBvdYtLSAq2UoDhc",
          "name": "GitHub account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 3,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "dd630bc2-116a-4563-95df-2fa114fb55f1",
              "leftValue": "={{ $json.sha }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "isNotEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1072,
        -16
      ],
      "id": "8f38c8b7-3769-4c8a-9e54-71842e29a2ff",
      "name": "If"
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "edit",
        "owner": {
          "__rl": true,
          "value": "ssd-007",
          "mode": "list",
          "cachedResultName": "ssd-007",
          "cachedResultUrl": "https://github.com/ssd-007"
        },
        "repository": {
          "__rl": true,
          "value": "n8n-github-sync",
          "mode": "list",
          "cachedResultName": "n8n-github-sync",
          "cachedResultUrl": "https://github.com/ssd-007/n8n-github-sync"
        },
        "filePath": "={{ $('Set Variables').item.json.filePath }}",
        "fileContent": "={{ $('Set Variables').item.json.fileContent }}",
        "commitMessage": "={{ 'backup: ' + $('Set Variables').item.json.name }}"
      },
      "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
      "name": "GitHub Edit File",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        1280,
        -144
      ],
      "webhookId": "65c525be-810e-4d19-99c6-8c586385adf6",
      "credentials": {
        "githubApi": {
          "id": "aBvdYtLSAq2UoDhc",
          "name": "GitHub account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "resource": "file",
        "owner": {
          "__rl": true,
          "value": "ssd-007",
          "mode": "list",
          "cachedResultName": "ssd-007",
          "cachedResultUrl": "https://github.com/ssd-007"
        },
        "repository": {
          "__rl": true,
          "value": "n8n-github-sync",
          "mode": "list",
          "cachedResultName": "n8n-github-sync",
          "cachedResultUrl": "https://github.com/ssd-007/n8n-github-sync"
        },
        "filePath": "={{ $('Set Variables').item.json.filePath }}",
        "fileContent": "={{ $('Set Variables').item.json.fileContent }}",
        "commitMessage": "={{ 'backup: ' + $('Set Variables').item.json.name }}"
      },
      "id": "b2c3d4e5-f6a7-8901-bcde-f12345678901",
      "name": "GitHub Create File",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        1280,
        128
      ],
      "webhookId": "6731c82e-0bfa-4ce0-a228-f97ad1c1fe0d",
      "credentials": {
        "githubApi": {
          "id": "aBvdYtLSAq2UoDhc",
          "name": "GitHub account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 2 * * *"
            }
          ]
        }
      },
      "id": "c3d4e5f6-a7b8-9012-cdef-123456789012",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        -224
      ]
    }
  ],
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "n8n Workflows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "n8n Workflows": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Set Variables",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Variables": {
      "main": [
        [
          {
            "node": "Get a file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a file": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "GitHub Edit File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "GitHub Create File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "n8n Workflows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "88d096ad-b6ac-4190-9683-d1f9fd543ddc",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-03-24T20:50:50.022Z",
      "createdAt": "2026-03-24T20:50:50.022Z",
      "role": "workflow:owner",
      "workflowId": "bhWqdvOJPFtWzBiJ",
      "projectId": "sFBQoJMMGGHKfOGS"
    }
  ],
  "activeVersion": null,
  "tags": []
}