n8n-github-sync/workflow.json
{
  "updatedAt": "2026-03-29T18:39:51.647Z",
  "createdAt": "2026-03-24T20:50:50.019Z",
  "id": "bhWqdvOJPFtWzBiJ",
  "name": "n8n Github Sync",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        -32
      ],
      "id": "18f78048-9fc4-49b1-b252-35659117227c",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "filters": {
          "activeWorkflows": true
        },
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.n8n",
      "typeVersion": 1,
      "position": [
        224,
        -128
      ],
      "id": "2a5b9383-8aa3-4b30-914e-91a9fa92a65e",
      "name": "n8n Workflows",
      "credentials": {
        "n8nApi": {
          "id": "OxDWNqPilqexXBWL",
          "name": "n8n account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "643dd240-e914-4111-be73-0fb8bd7d7e7f",
              "name": "name",
              "value": "={{ $json.name }}",
              "type": "string"
            },
            {
              "id": "63b5bb9b-7ded-43e6-8d72-115fdc129709",
              "name": "filePath",
              "value": "={{ $json.name.toLowerCase().replace(/[^a-z0-9]+/g, '-') }}/workflow.json",
              "type": "string"
            },
            {
              "id": "98140180-339e-4d45-9927-477e043834cb",
              "name": "fileContent",
              "value": "={{ JSON.stringify($json, null, 2) }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        448,
        -128
      ],
      "id": "fb8c4cdc-2f6e-4e1f-a4c6-51f8243add51",
      "name": "Set Variables"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "dd630bc2-116a-4563-95df-2fa114fb55f1",
              "leftValue": "={{ !!$json.sha }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        896,
        -128
      ],
      "id": "8f38c8b7-3769-4c8a-9e54-71842e29a2ff",
      "name": "If"
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "edit",
        "owner": {
          "__rl": true,
          "value": "ssd-007",
          "mode": "list",
          "cachedResultName": "ssd-007",
          "cachedResultUrl": "https://github.com/ssd-007"
        },
        "repository": {
          "__rl": true,
          "value": "n8n-workflows",
          "mode": "list",
          "cachedResultName": "n8n-workflows",
          "cachedResultUrl": "https://github.com/ssd-007/n8n-workflows"
        },
        "filePath": "={{ $('Set Variables').item.json.filePath }}",
        "fileContent": "={{ $('Set Variables').item.json.fileContent }}",
        "commitMessage": "={{ 'daily backup ' + $now.toFormat('yyyy-MM-dd') }}"
      },
      "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
      "name": "GitHub Edit File",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        1120,
        -224
      ],
      "webhookId": "65c525be-810e-4d19-99c6-8c586385adf6",
      "credentials": {
        "githubApi": {
          "id": "aBvdYtLSAq2UoDhc",
          "name": "GitHub account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "resource": "file",
        "owner": {
          "__rl": true,
          "value": "ssd-007",
          "mode": "list",
          "cachedResultName": "ssd-007",
          "cachedResultUrl": "https://github.com/ssd-007"
        },
        "repository": {
          "__rl": true,
          "value": "n8n-workflows",
          "mode": "list",
          "cachedResultName": "n8n-workflows",
          "cachedResultUrl": "https://github.com/ssd-007/n8n-workflows"
        },
        "filePath": "={{ $('Set Variables').item.json.filePath }}",
        "fileContent": "={{ $('Set Variables').item.json.fileContent }}",
        "commitMessage": "={{ 'daily backup ' + $now.toFormat('yyyy-MM-dd') }}"
      },
      "id": "b2c3d4e5-f6a7-8901-bcde-f12345678901",
      "name": "GitHub Create File",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        1120,
        -32
      ],
      "webhookId": "6731c82e-0bfa-4ce0-a228-f97ad1c1fe0d",
      "credentials": {
        "githubApi": {
          "id": "aBvdYtLSAq2UoDhc",
          "name": "GitHub account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "={{ 'https://api.github.com/repos/ssd-007/n8n-workflows/contents/' + $json.filePath }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "githubApi",
        "options": {}
      },
      "id": "e9f1a2b3-c4d5-6789-abcd-ef0123456789",
      "name": "Get File SHA",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        672,
        -128
      ],
      "credentials": {
        "githubApi": {
          "id": "aBvdYtLSAq2UoDhc",
          "name": "GitHub account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "aaa11111-1111-1111-1111-111111111111",
              "name": "status",
              "value": "updated",
              "type": "string"
            },
            {
              "id": "bbb22222-2222-2222-2222-222222222222",
              "name": "workflowName",
              "value": "={{ $('Set Variables').item.json.name }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "f1a2b3c4-d5e6-7890-abcd-111111111111",
      "name": "Set Status Updated",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1344,
        -224
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ccc33333-3333-3333-3333-333333333333",
              "name": "status",
              "value": "created",
              "type": "string"
            },
            {
              "id": "ddd44444-4444-4444-4444-444444444444",
              "name": "workflowName",
              "value": "={{ $('Set Variables').item.json.name }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "f2a2b3c4-d5e6-7890-abcd-222222222222",
      "name": "Set Status Created",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1344,
        -32
      ]
    },
    {
      "parameters": {},
      "id": "f3a2b3c4-d5e6-7890-abcd-333333333333",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        1568,
        -128
      ]
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst updated = items.filter(i => i.json.status === 'updated');\nconst created = items.filter(i => i.json.status === 'created');\n\nlet msg = `📦 *Daily backup complete*\\n`;\nmsg += `_${$now.toFormat('yyyy-MM-dd')}_\\n`;\nif (updated.length) {\n  msg += `\\n✅ *Updated (${updated.length}):*\\n`;\n  msg += updated.map(i => `  • ${i.json.workflowName}`).join('\\n');\n}\nif (created.length) {\n  msg += `\\n🆕 *Created (${created.length}):*\\n`;\n  msg += created.map(i => `  • ${i.json.workflowName}`).join('\\n');\n}\nmsg += `\\n\\n_${items.length} workflows synced_`;\nreturn [{ json: { message: msg } }];"
      },
      "id": "f4a2b3c4-d5e6-7890-abcd-444444444444",
      "name": "Summarise",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1792,
        -128
      ]
    },
    {
      "parameters": {
        "chatId": "8382569331",
        "text": "={{ $json.message }}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "f5a2b3c4-d5e6-7890-abcd-555555555555",
      "name": "Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2016,
        -128
      ],
      "webhookId": "2d8022c0-96ed-46bf-8468-611ab4ad02d6",
      "credentials": {
        "telegramApi": {
          "id": "aPen8TMX61j9GoRN",
          "name": "Telegram n8n Bot"
        }
      }
    },
    {
      "parameters": {
        "content": "## 📥 Fetch & Prepare Workflows\nGet all active n8n workflows, and prepare the name, repo path, and JSON content needed for backup.",
        "height": 328,
        "width": 436,
        "color": "#814003"
      },
      "id": "s1000000-0000-0000-0000-000000000001",
      "name": "Note: Fetch & Prepare",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        176,
        -272
      ]
    },
    {
      "parameters": {
        "content": "## 🔍 Check File Exists in GitHub\nFetch the file's current SHA from GitHub. If SHA is present the file exists and we update — otherwise we create it fresh.",
        "height": 328,
        "width": 436,
        "color": "#420354"
      },
      "id": "s2000000-0000-0000-0000-000000000002",
      "name": "Note: Check File Exists",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        624,
        -272
      ]
    },
    {
      "parameters": {
        "content": "## ✏️ Update Existing File\nPush the latest workflow JSON to the existing GitHub file using its SHA, then tag the result as updated.",
        "height": 328,
        "width": 420,
        "color": 3
      },
      "id": "s3000000-0000-0000-0000-000000000003",
      "name": "Note: Update File",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1072,
        -400
      ]
    },
    {
      "parameters": {
        "content": "\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n## 🆕 Create New File\nPush the workflow JSON as a brand new file in the GitHub repo, then tag the result as created.",
        "height": 328,
        "width": 420,
        "color": 5
      },
      "id": "s4000000-0000-0000-0000-000000000004",
      "name": "Note: Create File",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1072,
        -64
      ]
    },
    {
      "parameters": {
        "content": "## 📤 Summarise & Notify\nMerge results from both branches, build a summary of what was updated and created, then send a single Telegram notification.",
        "height": 344,
        "width": 708
      },
      "id": "s5000000-0000-0000-0000-000000000005",
      "name": "Note: Summarise & Notify",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1504,
        -256
      ]
    },
    {
      "parameters": {
        "content": "## ⏰ Triggers\n**Schedule:** Runs automatically every day at 4:00 AM to back up all active workflows.\n\n**Manual:** Run on demand whenever an immediate backup is needed.",
        "height": 576,
        "width": 224,
        "color": "#078309"
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -64,
        -432
      ],
      "id": "0467b649-f3af-4510-ad90-9072eda38fb3",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 4
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        -224
      ],
      "id": "1f13e864-bcc0-4a3d-8e5c-47ca4e461464",
      "name": "Schedule Trigger"
    }
  ],
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "n8n Workflows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "n8n Workflows": {
      "main": [
        [
          {
            "node": "Set Variables",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "GitHub Edit File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "GitHub Create File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Variables": {
      "main": [
        [
          {
            "node": "Get File SHA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get File SHA": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub Create File": {
      "main": [
        [
          {
            "node": "Set Status Created",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub Edit File": {
      "main": [
        [
          {
            "node": "Set Status Updated",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Status Updated": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Status Created": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Summarise",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summarise": {
      "main": [
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "n8n Workflows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "9a478826-6c61-47f9-833a-2019f0060aba",
  "activeVersionId": "0a53d090-aa92-44da-ac1c-0c0315e34e9f",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-03-24T20:50:50.022Z",
      "createdAt": "2026-03-24T20:50:50.022Z",
      "role": "workflow:owner",
      "workflowId": "bhWqdvOJPFtWzBiJ",
      "projectId": "sFBQoJMMGGHKfOGS"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-03-26T21:39:17.000Z",
    "createdAt": "2026-03-26T21:38:54.023Z",
    "versionId": "0a53d090-aa92-44da-ac1c-0c0315e34e9f",
    "workflowId": "bhWqdvOJPFtWzBiJ",
    "nodes": [
      {
        "parameters": {},
        "type": "n8n-nodes-base.manualTrigger",
        "typeVersion": 1,
        "position": [
          0,
          -32
        ],
        "id": "18f78048-9fc4-49b1-b252-35659117227c",
        "name": "When clicking ‘Execute workflow’"
      },
      {
        "parameters": {
          "filters": {
            "activeWorkflows": true
          },
          "requestOptions": {}
        },
        "type": "n8n-nodes-base.n8n",
        "typeVersion": 1,
        "position": [
          224,
          -128
        ],
        "id": "2a5b9383-8aa3-4b30-914e-91a9fa92a65e",
        "name": "n8n Workflows",
        "credentials": {
          "n8nApi": {
            "id": "OxDWNqPilqexXBWL",
            "name": "n8n account"
          }
        }
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "643dd240-e914-4111-be73-0fb8bd7d7e7f",
                "name": "name",
                "value": "={{ $json.name }}",
                "type": "string"
              },
              {
                "id": "63b5bb9b-7ded-43e6-8d72-115fdc129709",
                "name": "filePath",
                "value": "={{ $json.name.toLowerCase().replace(/[^a-z0-9]+/g, '-') }}/workflow.json",
                "type": "string"
              },
              {
                "id": "98140180-339e-4d45-9927-477e043834cb",
                "name": "fileContent",
                "value": "={{ JSON.stringify($json, null, 2) }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          448,
          -128
        ],
        "id": "fb8c4cdc-2f6e-4e1f-a4c6-51f8243add51",
        "name": "Set Variables"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "dd630bc2-116a-4563-95df-2fa114fb55f1",
                "leftValue": "={{ !!$json.sha }}",
                "rightValue": "",
                "operator": {
                  "type": "boolean",
                  "operation": "true",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          896,
          -128
        ],
        "id": "8f38c8b7-3769-4c8a-9e54-71842e29a2ff",
        "name": "If"
      },
      {
        "parameters": {
          "resource": "file",
          "operation": "edit",
          "owner": {
            "__rl": true,
            "value": "ssd-007",
            "mode": "list",
            "cachedResultName": "ssd-007",
            "cachedResultUrl": "https://github.com/ssd-007"
          },
          "repository": {
            "__rl": true,
            "value": "n8n-github-sync",
            "mode": "list",
            "cachedResultName": "n8n-github-sync",
            "cachedResultUrl": "https://github.com/ssd-007/n8n-github-sync"
          },
          "filePath": "={{ $('Set Variables').item.json.filePath }}",
          "fileContent": "={{ $('Set Variables').item.json.fileContent }}",
          "commitMessage": "={{ 'daily backup ' + $now.toFormat('yyyy-MM-dd') }}"
        },
        "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
        "name": "GitHub Edit File",
        "type": "n8n-nodes-base.github",
        "typeVersion": 1.1,
        "position": [
          1120,
          -224
        ],
        "webhookId": "65c525be-810e-4d19-99c6-8c586385adf6",
        "credentials": {
          "githubApi": {
            "id": "aBvdYtLSAq2UoDhc",
            "name": "GitHub account"
          }
        },
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "resource": "file",
          "owner": {
            "__rl": true,
            "value": "ssd-007",
            "mode": "list",
            "cachedResultName": "ssd-007",
            "cachedResultUrl": "https://github.com/ssd-007"
          },
          "repository": {
            "__rl": true,
            "value": "n8n-github-sync",
            "mode": "list",
            "cachedResultName": "n8n-github-sync",
            "cachedResultUrl": "https://github.com/ssd-007/n8n-github-sync"
          },
          "filePath": "={{ $('Set Variables').item.json.filePath }}",
          "fileContent": "={{ $('Set Variables').item.json.fileContent }}",
          "commitMessage": "={{ 'daily backup ' + $now.toFormat('yyyy-MM-dd') }}"
        },
        "id": "b2c3d4e5-f6a7-8901-bcde-f12345678901",
        "name": "GitHub Create File",
        "type": "n8n-nodes-base.github",
        "typeVersion": 1.1,
        "position": [
          1120,
          -32
        ],
        "webhookId": "6731c82e-0bfa-4ce0-a228-f97ad1c1fe0d",
        "credentials": {
          "githubApi": {
            "id": "aBvdYtLSAq2UoDhc",
            "name": "GitHub account"
          }
        },
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "url": "={{ 'https://api.github.com/repos/ssd-007/n8n-github-sync/contents/' + $json.filePath }}",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "githubApi",
          "options": {}
        },
        "id": "e9f1a2b3-c4d5-6789-abcd-ef0123456789",
        "name": "Get File SHA",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          672,
          -128
        ],
        "credentials": {
          "githubApi": {
            "id": "aBvdYtLSAq2UoDhc",
            "name": "GitHub account"
          }
        },
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "aaa11111-1111-1111-1111-111111111111",
                "name": "status",
                "value": "updated",
                "type": "string"
              },
              {
                "id": "bbb22222-2222-2222-2222-222222222222",
                "name": "workflowName",
                "value": "={{ $('Set Variables').item.json.name }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "id": "f1a2b3c4-d5e6-7890-abcd-111111111111",
        "name": "Set Status Updated",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          1344,
          -224
        ]
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "ccc33333-3333-3333-3333-333333333333",
                "name": "status",
                "value": "created",
                "type": "string"
              },
              {
                "id": "ddd44444-4444-4444-4444-444444444444",
                "name": "workflowName",
                "value": "={{ $('Set Variables').item.json.name }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "id": "f2a2b3c4-d5e6-7890-abcd-222222222222",
        "name": "Set Status Created",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          1344,
          -32
        ]
      },
      {
        "parameters": {},
        "id": "f3a2b3c4-d5e6-7890-abcd-333333333333",
        "name": "Merge",
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3,
        "position": [
          1568,
          -128
        ]
      },
      {
        "parameters": {
          "jsCode": "const items = $input.all();\nconst updated = items.filter(i => i.json.status === 'updated');\nconst created = items.filter(i => i.json.status === 'created');\n\nlet msg = `📦 *Daily backup complete*\\n`;\nmsg += `_${$now.toFormat('yyyy-MM-dd')}_\\n`;\nif (updated.length) {\n  msg += `\\n✅ *Updated (${updated.length}):*\\n`;\n  msg += updated.map(i => `  • ${i.json.workflowName}`).join('\\n');\n}\nif (created.length) {\n  msg += `\\n🆕 *Created (${created.length}):*\\n`;\n  msg += created.map(i => `  • ${i.json.workflowName}`).join('\\n');\n}\nmsg += `\\n\\n_${items.length} workflows synced_`;\nreturn [{ json: { message: msg } }];"
        },
        "id": "f4a2b3c4-d5e6-7890-abcd-444444444444",
        "name": "Summarise",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1792,
          -128
        ]
      },
      {
        "parameters": {
          "chatId": "8382569331",
          "text": "={{ $json.message }}",
          "additionalFields": {
            "parse_mode": "Markdown"
          }
        },
        "id": "f5a2b3c4-d5e6-7890-abcd-555555555555",
        "name": "Telegram",
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          2016,
          -128
        ],
        "webhookId": "2d8022c0-96ed-46bf-8468-611ab4ad02d6",
        "credentials": {
          "telegramApi": {
            "id": "aPen8TMX61j9GoRN",
            "name": "Telegram n8n Bot"
          }
        }
      },
      {
        "parameters": {
          "content": "## 📥 Fetch & Prepare Workflows\nGet all active n8n workflows, and prepare the name, repo path, and JSON content needed for backup.",
          "height": 328,
          "width": 436,
          "color": "#814003"
        },
        "id": "s1000000-0000-0000-0000-000000000001",
        "name": "Note: Fetch & Prepare",
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          176,
          -272
        ]
      },
      {
        "parameters": {
          "content": "## 🔍 Check File Exists in GitHub\nFetch the file's current SHA from GitHub. If SHA is present the file exists and we update — otherwise we create it fresh.",
          "height": 328,
          "width": 436,
          "color": "#420354"
        },
        "id": "s2000000-0000-0000-0000-000000000002",
        "name": "Note: Check File Exists",
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          624,
          -272
        ]
      },
      {
        "parameters": {
          "content": "## ✏️ Update Existing File\nPush the latest workflow JSON to the existing GitHub file using its SHA, then tag the result as updated.",
          "height": 328,
          "width": 420,
          "color": 3
        },
        "id": "s3000000-0000-0000-0000-000000000003",
        "name": "Note: Update File",
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          1072,
          -400
        ]
      },
      {
        "parameters": {
          "content": "\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n## 🆕 Create New File\nPush the workflow JSON as a brand new file in the GitHub repo, then tag the result as created.",
          "height": 328,
          "width": 420,
          "color": 5
        },
        "id": "s4000000-0000-0000-0000-000000000004",
        "name": "Note: Create File",
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          1072,
          -64
        ]
      },
      {
        "parameters": {
          "content": "## 📤 Summarise & Notify\nMerge results from both branches, build a summary of what was updated and created, then send a single Telegram notification.",
          "height": 344,
          "width": 708
        },
        "id": "s5000000-0000-0000-0000-000000000005",
        "name": "Note: Summarise & Notify",
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          1504,
          -256
        ]
      },
      {
        "parameters": {
          "content": "## ⏰ Triggers\n**Schedule:** Runs automatically every day at 4:00 AM to back up all active workflows.\n\n**Manual:** Run on demand whenever an immediate backup is needed.",
          "height": 576,
          "width": 224,
          "color": "#078309"
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          -64,
          -432
        ],
        "id": "0467b649-f3af-4510-ad90-9072eda38fb3",
        "name": "Sticky Note"
      },
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "triggerAtHour": 4
              }
            ]
          }
        },
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.3,
        "position": [
          0,
          -224
        ],
        "id": "1f13e864-bcc0-4a3d-8e5c-47ca4e461464",
        "name": "Schedule Trigger"
      }
    ],
    "connections": {
      "When clicking ‘Execute workflow’": {
        "main": [
          [
            {
              "node": "n8n Workflows",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "n8n Workflows": {
        "main": [
          [
            {
              "node": "Set Variables",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If": {
        "main": [
          [
            {
              "node": "GitHub Edit File",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "GitHub Create File",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Set Variables": {
        "main": [
          [
            {
              "node": "Get File SHA",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get File SHA": {
        "main": [
          [
            {
              "node": "If",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "GitHub Create File": {
        "main": [
          [
            {
              "node": "Set Status Created",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "GitHub Edit File": {
        "main": [
          [
            {
              "node": "Set Status Updated",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Set Status Updated": {
        "main": [
          [
            {
              "node": "Merge",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Set Status Created": {
        "main": [
          [
            {
              "node": "Merge",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "Merge": {
        "main": [
          [
            {
              "node": "Summarise",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Summarise": {
        "main": [
          [
            {
              "node": "Telegram",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Schedule Trigger": {
        "main": [
          [
            {
              "node": "n8n Workflows",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Sidrit info@paracras.com",
    "name": "Version 0a53d090",
    "description": "",
    "autosaved": true
  },
  "tags": []
}