email-outreach/workflow.json
{
  "updatedAt": "2026-03-13T18:08:36.258Z",
  "createdAt": "2026-03-13T00:03:26.992Z",
  "id": "e6aGJMwrbYoauMM1",
  "name": "Email Outreach",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "id": "5279b886-747e-4484-b1d8-d4b53b4466fb",
      "name": "Loop over queries",
      "type": "n8n-nodes-base.splitInBatches",
      "position": [
        1408,
        480
      ],
      "typeVersion": 3
    },
    {
      "parameters": {
        "content": "## 🛠 Setup\n1. Setup your list of queries in the \"Run workflow\" manual trigger node. Watch  this [video](https://youtu.be/HaiO-UeiKBA) on how to generate the queries with ChatGPT.\n3. Choose a sheet to populate with data in the **Google Sheets node**\n4. Run the workflow and start getting leads into your Google Sheets document",
        "height": 140,
        "width": 740,
        "color": 5
      },
      "id": "6c42a47e-8f4a-4c0a-8d11-8c2b57491c94",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        256,
        416
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": " ## ⚠️ Note\n\nA [video tutorial](https://youtu.be/HaiO-UeiKBA) for this workflow guide is available on my [Youtube channel](https://www.youtube.com/channel/UCn8xmUBunez1SsDVRfZDUGA)",
        "height": 140,
        "color": 3
      },
      "id": "783799aa-7f86-4491-b2b9-7b35f8f48b17",
      "name": "Sticky Note5",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        768,
        256
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Google Maps Automatic Email Scraper\n\nThis workflow automatically scrapes emails from businesses on Google Maps based on a list of queries that you provide.",
        "height": 140,
        "width": 480,
        "color": 7
      },
      "id": "d902819a-e5dd-4aa3-9280-fe8f07a087f8",
      "name": "Sticky Note6",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        256,
        256
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        1120,
        544
      ],
      "id": "ddfa038d-ba65-48a2-81f8-b050175f8806",
      "name": "When clicking 'Execute workflow'"
    },
    {
      "parameters": {
        "content": "## Summary\n\n1. The **Execute Workflow** automation starts.\n   - Feeds the specific queries for searching Google Maps.\n   - Calls the **Scraper** automation which does the heavy lifting for each query.\n   - Then waits 5 seconds between executions to prevent issues.\n\n2. The **Scraper Workflow** starts.\n   - Searches Google Maps using the passed down query with Google API.\n   - Sets the Place IDs of each business.\n   - Loops for each Place ID getting the business' website from the Google API.\n   - Calls Apollo API to find a decision maker based on the website.\n   - Calls Apollo API to find the person's email.\n   - Calls ScrapeNinja API to scrape the person's Company LinkedIn.\n\n",
        "height": 360,
        "width": 740,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        256,
        576
      ],
      "id": "6df020c0-1739-4c2d-bc60-cd27540b1e22",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "url": "=https://maps.googleapis.com/maps/api/place/textsearch/json?query={{ $json.query }}&key=AIzaSyD89hWEvE0cMa3aCj-1PTJpVxJHxX0pG7s",
        "options": {
          "allowUnauthorizedCerts": false
        }
      },
      "id": "b5f47b31-7440-471a-ba36-469c4de2a657",
      "name": "Query Search Google Maps",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1888,
        496
      ],
      "executeOnce": false,
      "typeVersion": 4.2,
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "jsCode": "// Extract all place_ids from the search results\nconst results = $input.first().json.results || []\n\n// Create an array with each place_id as a separate item\nreturn results.map(place => ({\n  json: { \n    place_id: place.place_id,\n    name: place.name // Keep the name for reference\n  }\n}))"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2128,
        496
      ],
      "id": "7669aded-246b-44fa-a90a-dc53a694c2e2",
      "name": "Place ID"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        2400,
        416
      ],
      "id": "5ebae99b-645b-4d27-b9dc-1b027b836221",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "url": "=https://maps.googleapis.com/maps/api/place/details/json?place_id={{ $json.place_id }}&fields=name,formatted_address,formatted_phone_number,website,rating,user_ratings_total,opening_hours,business_status,types&key=AIzaSyD89hWEvE0cMa3aCj-1PTJpVxJHxX0pG7s",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2544,
        576
      ],
      "id": "aa4e76e8-b958-40ee-be58-219aeb8a2532",
      "name": "Get Website"
    },
    {
      "parameters": {
        "mode": "raw",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1664,
        496
      ],
      "id": "648d1593-14a5-4c00-b752-7595c7be7348",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.apollo.io/api/v1/people/match",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Api-Key",
              "value": "08eSXMxJtXn22UlcgEl9jQ"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"person_id\":\"{{ $json.people[0].id }}\",\n  \"reveal_personal_emails\":true\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3640,
        416
      ],
      "id": "4aee6b15-54df-4517-95c3-e557acfccc66",
      "name": "Apollo Get Email"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.apollo.io/api/v1/mixed_people/search",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Api-Key",
              "value": "08eSXMxJtXn22UlcgEl9jQ"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"q_organization_domains_list\": [\"{{ $json.website }}\"],\n  \"person_titles\": [\"CEO\", \"Founder\", \"Director\"],\n  \"person_seniorities\": [\"cxo\", \"director\", \"vp\"],\n  \"contact_email_status\": \"verified\",\n  \"per_page\": 1\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3184,
        416
      ],
      "id": "61eecaa9-abb4-4dbd-b0fd-1f0fa8f88a8d",
      "name": "Apollo Get Decision-Maker"
    },
    {
      "parameters": {
        "jsCode": "// Strip all HTML tags and get plain text (like Make.com HTML to Text)\nconst htmlContent = $input.first().json.body;\nconst textOnly = htmlContent.replace(/<[^>]*>/g, '').replace(/\\s+/g, ' ').trim();\n\n// Apply the regex pattern from Make.com (convert to JavaScript regex)\nconst cleanedText = textOnly.replace(/(\\^.*\\*.*\\$\\\\n\\?|\\\\n|\\\\N|\\[.*\\?\\]|https\\?:\\/\\/\\S+|\\\\n\\s*\\\\n)/g, '');\n\nreturn [{\n  json: {\n    text: textOnly\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2944,
        416
      ],
      "id": "dc0adaff-1366-4031-8467-2135180ed74f",
      "name": "HTML to Text"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://scrapeninja.p.rapidapi.com/scrape",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-Rapidapi-Key",
              "value": "f54e983d2dmshdf7f45446c832a6p1bd08bjsn62ac116b4ae1"
            },
            {
              "name": "X-Rapidapi-Host",
              "value": "scrapeninja.p.rapidapi.com"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"url\": \"{{ $('Get Website').item.json.result.website.replace('http:', 'https:') }}\",\n  \"js\": false,\n  \"premium\": false,\n  \"wait\": 10000,\n  \"block_resources\": [\"image\", \"media\", \"font\"],\n  \"stealth\": true\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2704,
        416
      ],
      "id": "c6e3a406-5bf7-4ec9-98c6-a5d50eb0d075",
      "name": "Scrape Company Website"
    },
    {
      "id": "09e46d85-86aa-4ad4-b8ca-04bf0700ff35",
      "name": "Has Results?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        3408,
        416
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "check-people-length",
              "leftValue": "={{ $json.people.length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "dfeb78ea-b8fb-46dc-be4d-5043a3816c3a",
      "name": "Save Lead to Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        3880,
        416
      ],
      "parameters": {
        "resource": "sheet",
        "operation": "append",
        "documentId": {
          "mode": "id",
          "value": "YOUR_SPREADSHEET_ID"
        },
        "sheetName": {
          "mode": "name",
          "value": "Sheet1"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Company Name": "={{ $('Get Website').item.json.result.name }}",
            "Website": "={{ $('Get Website').item.json.result.website }}",
            "Decision Maker": "={{ $json.person.name }}",
            "Email": "={{ $json.person.email }}"
          },
          "matchingColumns": []
        }
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "id": "591fec6b-ea7a-4517-8d6a-271412e70586",
      "name": "Send Summary Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1408,
        720
      ],
      "parameters": {
        "resource": "message",
        "operation": "send",
        "sendTo": "info@paracras.com",
        "subject": "=Email Outreach Complete - {{ $now.toFormat('yyyy-MM-dd') }}",
        "emailType": "html",
        "message": "=<h2>Email Outreach Workflow Complete</h2>\n<p>All 5 search queries have been processed.</p>\n<p><b>Queries searched:</b></p>\n<ul>\n  <li>ecommerce businesses London</li>\n  <li>retail shops London</li>\n  <li>recruitment agencies London</li>\n  <li>property agencies London</li>\n  <li>professional services London</li>\n</ul>\n<p>Run completed at {{ $now.toISO() }}</p>",
        "options": {}
      },
      "credentials": {
        "gmailOAuth2": {
          "id": "",
          "name": "Gmail account"
        }
      }
    }
  ],
  "connections": {
    "Loop over queries": {
      "main": [
        [
          {
            "node": "Send Summary Email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking 'Execute workflow'": {
      "main": [
        [
          {
            "node": "Loop over queries",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Query Search Google Maps": {
      "main": [
        [
          {
            "node": "Place ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Place ID": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Scrape Company Website",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Website",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Website": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Query Search Google Maps",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML to Text": {
      "main": [
        [
          {
            "node": "Apollo Get Decision-Maker",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Scrape Company Website": {
      "main": [
        [
          {
            "node": "HTML to Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Apollo Get Decision-Maker": {
      "main": [
        [
          {
            "node": "Has Results?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Results?": {
      "main": [
        [
          {
            "node": "Apollo Get Email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Apollo Get Email": {
      "main": [
        [
          {
            "node": "Save Lead to Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Lead to Sheets": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "meta": null,
  "pinData": {
    "When clicking ‘Execute workflow’": [
      {
        "json": {
          "query": "mayfair+restaurant"
        }
      },
      {
        "json": {
          "query": "knightsbridge+restaurant"
        }
      },
      {
        "json": {
          "query": "chelsea+restaurant"
        }
      },
      {
        "json": {
          "query": "belgravia+restaurant"
        }
      },
      {
        "json": {
          "query": "kensington+restaurant"
        }
      },
      {
        "json": {
          "query": "notting+hill+restaurant"
        }
      },
      {
        "json": {
          "query": "soho+restaurant"
        }
      },
      {
        "json": {
          "query": "covent+garden+restaurant"
        }
      },
      {
        "json": {
          "query": "marylebone+restaurant"
        }
      },
      {
        "json": {
          "query": "fitzrovia+restaurant"
        }
      },
      {
        "json": {
          "query": "bloomsbury+restaurant"
        }
      },
      {
        "json": {
          "query": "holborn+restaurant"
        }
      },
      {
        "json": {
          "query": "city+of+london+restaurant"
        }
      },
      {
        "json": {
          "query": "canary+wharf+restaurant"
        }
      },
      {
        "json": {
          "query": "london+bridge+restaurant"
        }
      },
      {
        "json": {
          "query": "bankside+restaurant"
        }
      },
      {
        "json": {
          "query": "borough+market+restaurant"
        }
      },
      {
        "json": {
          "query": "shoreditch+restaurant"
        }
      },
      {
        "json": {
          "query": "old+street+restaurant"
        }
      },
      {
        "json": {
          "query": "angel+restaurant"
        }
      },
      {
        "json": {
          "query": "islington+restaurant"
        }
      },
      {
        "json": {
          "query": "highbury+restaurant"
        }
      },
      {
        "json": {
          "query": "camden+town+restaurant"
        }
      },
      {
        "json": {
          "query": "hampstead+restaurant"
        }
      },
      {
        "json": {
          "query": "primrose+hill+restaurant"
        }
      },
      {
        "json": {
          "query": "st+john's+wood+restaurant"
        }
      },
      {
        "json": {
          "query": "richmond+restaurant"
        }
      },
      {
        "json": {
          "query": "wimbledon+village+restaurant"
        }
      },
      {
        "json": {
          "query": "fulham+restaurant"
        }
      },
      {
        "json": {
          "query": "wandsworth+restaurant"
        }
      },
      {
        "json": {
          "query": "clapham+common+restaurant"
        }
      },
      {
        "json": {
          "query": "earls+court+restaurant"
        }
      },
      {
        "json": {
          "query": "south+kensington+restaurant"
        }
      },
      {
        "json": {
          "query": "victoria+restaurant"
        }
      },
      {
        "json": {
          "query": "westminster+restaurant"
        }
      },
      {
        "json": {
          "query": "pimlico+restaurant"
        }
      },
      {
        "json": {
          "query": "vauxhall+restaurant"
        }
      },
      {
        "json": {
          "query": "bermondsey+restaurant"
        }
      },
      {
        "json": {
          "query": "greenwich+restaurant"
        }
      },
      {
        "json": {
          "query": "dulwich+village+restaurant"
        }
      },
      {
        "json": {
          "query": "blackheath+restaurant"
        }
      },
      {
        "json": {
          "query": "canary+wharf+restaurant"
        }
      },
      {
        "json": {
          "query": "stratford+restaurant"
        }
      },
      {
        "json": {
          "query": "king's+cross+restaurant"
        }
      },
      {
        "json": {
          "query": "regent's+park+restaurant"
        }
      },
      {
        "json": {
          "query": "clerkenwell+restaurant"
        }
      },
      {
        "json": {
          "query": "farringdon+restaurant"
        }
      },
      {
        "json": {
          "query": "barbican+restaurant"
        }
      },
      {
        "json": {
          "query": "aldgate+restaurant"
        }
      },
      {
        "json": {
          "query": "spitalfields+restaurant"
        }
      },
      {
        "json": {
          "query": "liverpool+street+restaurant"
        }
      },
      {
        "json": {
          "query": "fenchurch+street+restaurant"
        }
      },
      {
        "json": {
          "query": "moorgate+restaurant"
        }
      },
      {
        "json": {
          "query": "paddington+restaurant"
        }
      },
      {
        "json": {
          "query": "bayswater+restaurant"
        }
      },
      {
        "json": {
          "query": "queensway+restaurant"
        }
      },
      {
        "json": {
          "query": "warwick+avenue+restaurant"
        }
      },
      {
        "json": {
          "query": "little+venice+restaurant"
        }
      },
      {
        "json": {
          "query": "maida+vale+restaurant"
        }
      },
      {
        "json": {
          "query": "kilburn+restaurant"
        }
      },
      {
        "json": {
          "query": "west+hampstead+restaurant"
        }
      },
      {
        "json": {
          "query": "golders+green+restaurant"
        }
      },
      {
        "json": {
          "query": "east+finchley+restaurant"
        }
      },
      {
        "json": {
          "query": "north+finchley+restaurant"
        }
      },
      {
        "json": {
          "query": "highgate+restaurant"
        }
      },
      {
        "json": {
          "query": "muswell+hill+restaurant"
        }
      },
      {
        "json": {
          "query": "bounds+green+restaurant"
        }
      },
      {
        "json": {
          "query": "southgate+restaurant"
        }
      },
      {
        "json": {
          "query": "enfield+town+restaurant"
        }
      },
      {
        "json": {
          "query": "oakwood+restaurant"
        }
      },
      {
        "json": {
          "query": "barnet+restaurant"
        }
      },
      {
        "json": {
          "query": "totteridge+restaurant"
        }
      },
      {
        "json": {
          "query": "mill+hill+restaurant"
        }
      },
      {
        "json": {
          "query": "edgware+restaurant"
        }
      },
      {
        "json": {
          "query": "hendon+restaurant"
        }
      },
      {
        "json": {
          "query": "colindale+restaurant"
        }
      },
      {
        "json": {
          "query": "wembley+park+restaurant"
        }
      },
      {
        "json": {
          "query": "alperton+restaurant"
        }
      },
      {
        "json": {
          "query": "ealing+broadway+restaurant"
        }
      },
      {
        "json": {
          "query": "south+ealing+restaurant"
        }
      },
      {
        "json": {
          "query": "chiswick+restaurant"
        }
      },
      {
        "json": {
          "query": "barnes+restaurant"
        }
      },
      {
        "json": {
          "query": "mortlake+restaurant"
        }
      },
      {
        "json": {
          "query": "east+sheen+restaurant"
        }
      },
      {
        "json": {
          "query": "kingston+restaurant"
        }
      },
      {
        "json": {
          "query": "surbiton+restaurant"
        }
      },
      {
        "json": {
          "query": "teddington+restaurant"
        }
      },
      {
        "json": {
          "query": "twickenham+restaurant"
        }
      },
      {
        "json": {
          "query": "isleworth+restaurant"
        }
      },
      {
        "json": {
          "query": "harrow+on+the+hill+restaurant"
        }
      },
      {
        "json": {
          "query": "pinner+restaurant"
        }
      },
      {
        "json": {
          "query": "ruislip+restaurant"
        }
      },
      {
        "json": {
          "query": "uxbridge+restaurant"
        }
      },
      {
        "json": {
          "query": "heathrow+restaurant"
        }
      },
      {
        "json": {
          "query": "hounslow+restaurant"
        }
      },
      {
        "json": {
          "query": "feltham+restaurant"
        }
      },
      {
        "json": {
          "query": "chertsey+restaurant"
        }
      },
      {
        "json": {
          "query": "walton-on-thames+restaurant"
        }
      },
      {
        "json": {
          "query": "weybridge+restaurant"
        }
      }
    ]
  },
  "versionId": "cbe82bab-9602-4a1f-bdac-fcaddae55cf4",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-03-13T00:03:27.000Z",
      "createdAt": "2026-03-13T00:03:27.000Z",
      "role": "workflow:owner",
      "workflowId": "e6aGJMwrbYoauMM1",
      "projectId": "sFBQoJMMGGHKfOGS"
    }
  ],
  "activeVersion": null,
  "tags": []
}